@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.bar-container {
  position: relative;
  font-family: 'Cairo', sans-serif;
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0px 3px white;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bar-container > p {
  width: 100%;
  color: white;
  font-weight: 600;
  text-align: center;
}

.bar-container > div {
  height: 30px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
  100% {
    opacity: 1;
  transform: translateX(0px);
  }
}

div.vida {
  background-color: var(--green);
}

div.ataque {
  background-color: var(--normal-red);
}

div.defensa {
  background-color: var(--light-blue);
}

div.velocidad {
  background-color: var(--yellow);
}

.number {
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ADAPTACIÓN PARA PANTALLAS MENORES DE 700PX */

@media screen and (max-width: 700px) {
  .bar-container {
    width: 90px;
    font-size: .8rem;
  }
}